DATABASE_URL=postgresql://postgres:postgres@localhost:5432/blog_app
JWT_SECRET=secret123
JWT_EXPIRES_IN='3 days'
EMAIL_USER=
EMAIL_SERVICE=gmail
EMAIL_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=http://localhost:3033
