DATABASE_URL=postgresql://postgres:postgres@localhost:5432/blog_app
JWT_SECRET=secret123
JWT_EXPIRES_IN='3 days'
EMAIL_USER=
EMAIL_SERVICE=gmail
EMAIL_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
YANDEX_CLIENT_ID=fe6bd0522c784f9ba904f31beb910fdf
YANDEX_CLIENT_SECRET=f797e912981740a492b9b21c0c60fb18
BACKEND_URL=http://localhost:7272
YANDEX_REDIRECT_URI=http://localhost:7272/api/auth/yandex/callback
FRONTEND_URL=http://localhost:3033
