POSTGRES_DB=blog_app
POSTGRES_USER=blog_user
POSTGRES_PASSWORD=change_me_strong_password
JWT_SECRET=change_me_strong_jwt_secret
JWT_EXPIRES_IN=3 days
FRONTEND_URL=https://sh0ny.ru
EMAIL_USER=
EMAIL_SERVICE=gmail
EMAIL_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
